name: Red-or-Blue CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration ${{ matrix.configuration }}
      
    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: WinForms-${{ matrix.configuration }}
        path: |
          **\bin\${{ matrix.configuration }}\**
